{% extends "base.html" %}

{%block title%} MyPokemon {%endblock%}


{%block styles%}
<link rel="stylesheet" href="{{url_for('static', filename='styles/base.css')}}">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
<link rel="stylesheet" href="{{url_for('static', filename='styles/myPokemon.css')}}">
{%endblock%}


{%block content%}
{% include './includes/nav-bar.html' %}
{% if allCurrentUserPokemon %}
<h1>{{currentUsername}}</h1>
<div class="all-pokemon">
{% for pokemon in allCurrentUserPokemon %}
<div class="my-card-container" onclick="selectPokemon(event, '{{ pokemon.id}}')">
    <!-- <div class="my-card" id="{{pokemon.id}}" > -->
        <div class="top">
            <strong><p class="name">{{pokemon['name']|capitalize}}</p></strong>
            <p>{{pokemon['base_hp']}} HP</p>
        </div>
        <div class="img-container">
            <img src="{{pokemon['sprite_img']}}" alt="Poke_Image" height="25">
        </div>
        <div class="stats">
            <p class="attack">{{pokemon['base_attack']}} Att</p>
            <p class="defence">{{pokemon['base_defence']}} Def</p>
        </div>
        <div class="ability">
            <span class="ability-name"><strong>{{pokemon['ability_name']|capitalize}}:</strong> {{pokemon['ability_description']}}</span>
        <!-- </div> -->
    </div>
</div>
{% endfor %}
{%endif%}

</div>
<a href="" class="battle-btn" id="fight">FIGHT</a>
<h1>{{ randomUsername }}</h1>
<div class="all-pokemon">
{% if allRandomUserPokemon %}
{% for pokemon in allRandomUserPokemon %}
<div class="my-card-container" onclick="selectPokemon(event, '{{ pokemon.id}}')">
    <!-- <div class="my-card" > -->
        <div class="top">
            <strong><p>{{pokemon['name']|capitalize}}</p></strong>
            <p>{{pokemon['base_hp']}} HP</p>
        </div>
        <div class="img-container">
            <img src="{{pokemon['sprite_img']}}" alt="Poke_Image" height="25">
        </div>
        <div class="stats">
            <p class="attack">{{pokemon['base_attack']}} Att</p>
            <p class="defence">{{pokemon['base_defence']}} Def</p>
        </div>
        <div class="ability">
            <span class="ability-name"><strong>{{pokemon['ability_name']|capitalize}}:</strong> {{pokemon['ability_description']}}</span>
        </div>
    <!-- </div> -->
</div>

{% endfor %}
{%endif%}
</div>
{% block scripts %}
<script>
let attackerId = null;
function selectPokemon(event, pokemonId) {
    const card = document.getElementById(pokemonId);
    console.log('pokemonId :>> ', pokemonId);
    if (attackerId === null) {
        // Select attacker
        attackerId = pokemonId;
        card.classList.add('attacker');
    } else if (attackerId === pokemonId) {
        // Deselect attacker
        attackerId = null;
    } else if (pokemonId && attackerId) {
        // Attack another Pokemon
        attackPokemon(attackerId, pokemonId);
        attackerId = null; // Reset attacker selection
    } else {
        
    }
    updateCardStyles();
}

function updateCardStyles() {
    const cards = document.querySelectorAll('.my-card');
    cards.forEach(card => {
        if (card.id === attackerId) {
            card.classList.add('attacker');
        } else {
            card.classList.remove('attacker');
        }
    });
}

function attackPokemon(attackerId, targetId) {
    // console.log('attackerId :>> ', attackerId);
    // console.log('targetId :>> ', targetId);
    const fightAnchor = document.getElementById("fight");
    if (!attackerId || !targetId) {
        console.log('testing :>> ', testing);
        fightAnchor.classList.add("disabled")
        fightAnchor.href = ""
    }
    
    fightAnchor.href = `/attack/${attackerId}/${targetId}`;

        // Handle the response 
    
}
</script>
{% endblock %}

{%endblock%}