{% extends "base.html" %}

{%block title%} Home {%endblock%}

{%block styles%}
<link rel="stylesheet" href="../static//styles/home.css">
<link rel="stylesheet" href="../static/styles/nav-bar.css">
<link rel="stylesheet" href="../static/styles/base.css">
{%endblock%}

{%block content%}
{% include './includes/nav-bar.html' %}
{ for poke in pokemon %}
    <div>
        <div class="card-container">
            <div class="card">
                <div class="top">
                    <h3>{{defaultInfo['name']|capitalize}}</h3>
                    <p>{{defaultInfo['stats'][0]['base_stat']}} HP</p>
                </div>
                <div class="img-container">
                    <img src="{{defaultInfo['sprites']['versions']['generation-v']['black-white']['animated']['front_shiny']}}" alt="Poke_Image" height="25">
                </div>
                <div class="stats">
                    <p class="attack">{{defaultInfo['stats'][1]['base_stat']}} Att</p>
                    <p class="defence">{{defaultInfo['stats'][2]['base_stat']}} Def</p>
                </div>
                <div class="ability">
                    <span class="ability-name"><strong>{{defaultInfo['abilities'][0]['ability']['name']|capitalize}}:</strong> {{abilityInfo['effect_entries'][1]['effect']}}</span>
                </div>
            </div>
    </div>
{%endblock%}