* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    color: black;
    font-family: 'Gill Sans', 'Gill Sans MT', 'Cabin', sans-serif;
}

body {
    background-image: url('../img/forest.jpg');
    background-size: cover;
    height: 100dvh;
}

.link-container {
    display: flex;
    justify-content: center;
    gap: 1em;
    margin-top: .5em;
}

a {
    text-decoration: none;
    font-weight: bold;
}

a:hover {
    color: rgba(250, 235, 215, 0.767);
    transition: 300ms;
}
h1 {
    text-align: center;
    margin-top: 1em;
}

.flash {
    display: flex;
    justify-content: center;
    color: green;
    margin-top: 1em;
    font-weight: bold;
    font-size: 20px;
}

.logout {
    color: red;
}

.logout:hover {
    color: rgba(252, 84, 84, 0.747);
    transition: 300ms;
}
