* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    color: black !important;
    font-family: "Permanent Marker", cursive;
}

body {
    background-image: url('../img/forest.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100dvh;
}

.link-container {
    display: flex;
    justify-content: center;
    gap: 1em;
    margin-top: .5em;
}

a {
    text-decoration: none;
    font-weight: bold;
}

a:hover {
    color: rgba(250, 235, 215, 0.767) !important;
    transition: 300ms !important;
}
h1 {
    text-align: center;
    margin-top: 1em;
}

.logout {
    color: red;
}

.logout:hover {
    color: rgba(252, 84, 84, 0.747);
    transition: 300ms;
}



