:root {
    --card-background: #d3c2b8;
    --selected-card-background: #b1a7a2;
}

.all-pokemon {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2em;
}


.my-card-container a {
    margin: 0 auto;
}

.my-card-container {
    display: flex;
    flex-direction: column;
    background-color: var(--card-background);
    border: 6px solid rgb(233, 183, 46) !important;
    cursor: pointer;
    border-radius: 0px !important;
    padding: 20px;
    width: 200px;
    transition: transform 0.3s ease; /* Apply a smooth transition effect for the transform property */
}

.my-card-container:hover {
    transform: scale(1.05); /* Slightly increase the size (5% larger) */
}
.top {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}

.stats {
    display: flex;
    justify-content: space-around;
    gap: 3em;
}

.ability {
    display: flex;
    margin-top: 20px;
}


img {
    /* margin: 0 auto; */
    min-height: 100px;
}

.img-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 5px 0px;
    border: 3px solid rgb(233, 183, 46);
    background-color: white;
}

.attack {
    color: red !important;
    font-weight: bold !important;
}

.defence {
    color: blue !important;
    font-weight: bold !important;
}

.battle-btn {
    display: flex;
    justify-content: center;
    color: red !important;
    font-size: 40px;
}

.name {
    font-size: 20px;
}

.winner {
    color: green;
}

/* .disabled {
    color: grey !important;
} */

.attacker {
    background-color: var(--selected-card-background) !important;
    transform: scale(1.1);
    border: 6px solid rgb(233, 183, 46) !important;
    transition: 200ms;
}