* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    color: antiquewhite;
}

body {
    background: linear-gradient(to bottom, #1a1a1a, #444444);
}

.container {
    display: flex;
    align-items: center;
    flex-direction: column;
    height: 100dvh;
}

.search-container {
    margin-top: 20px;
    display: flex;
    gap: .5em;
    flex-direction: column;
}

.pokedex {
    display: flex;
    justify-content: center;
}

.card {
    margin-top: 10em;
    max-width: 20%;
    border: 10px solid rgb(175, 175, 175);
    border-radius: 10px;
    padding: 20px;
    overflow: auto;
    max-height: 50%;
}

.top {
    display: flex;
    justify-content: space-between;
}

.stats {
    display: flex;
    justify-content: space-around;
    gap: 3em;
}

.ability {
    display: flex;
    margin-top: 20px;
}

img {
    margin: 0 auto;
    height: 200px;
    width: 200px;
}

.img-container {
    display: flex;
    justify-content: center;
    align-items: center;
    border-top: 1px solid white;
    border-bottom: 1px solid white;
    margin: 5px 0px;
}

input {
    padding: 5px;
    border-radius: 5px;
    border: none;
    color: black;
}

input:focus {
    outline: none;
    padding: 10px;
    transition: 300ms;
}

input:not(:focus) {
    padding: 5px;
    transition: 100ms;
}

.form-container {
    display: flex;
    flex-direction: column;
    gap: 1em;
}

.form-btn {
    width: 50%;
    align-self: center;
    cursor: pointer;
    padding: 7px;
    border-radius: 10px;
    color: black;
    font-weight: bold;
    background-color: #15ff00;
    border: none;
}

button:hover {
    background-color: #15ff0085;
    transform: translateY(3px);
    transition: 400ms;
    box-shadow: 0 2px 2px #15ff00;
}
