* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    color: black:
    font-family: 'Gill Sans', 'Gill Sans MT', 'Cabin', sans-serif;
}

body {
    background: linear-gradient(to bottom, #1a1a1a, #444444);
}

.container {
    display: flex;
    align-items: center;
    flex-direction: column;
    height: 100dvh;
}

.search-container {
    margin-top: 2em;
    display: flex;
    gap: 1em;
    flex-direction: column;
}

.pokedex {
    display: flex;
    justify-content: center;
}

.card {
    max-width: 30%;
    border: 10px solid rgb(175, 175, 175);
    border-radius: 10px;
    padding: 20px;
    overflow: auto;
    margin: auto 0;
    background-image: url("../img/Pokemon_Card_background.jpg");
    background-size: cover;
}

.card-container {
    display: flex;
    justify-content: center;
    margin-top: 8em;
}

.arrow {
    margin-top: 25%;
    margin: 3em;
    cursor: pointer;
    border-radius: 50%;
    border: 2px solid antiquewhite;
    padding: 10px;
}

.arrow:hover {
    background-color: #1a1a1a9a;
    padding: 13px;
    transition: 300ms;
}

.top {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
    padding: 0 25px;
}

.stats {
    display: flex;
    justify-content: space-around;
    gap: 3em;
}

.ability {
    display: flex;
    margin-top: 20px;
}

img {
    margin: 0 auto;
    height: 200px;
    width: 200px;
}

.img-container {
    display: flex;
    justify-content: center;
    align-items: center;
    border-top: 1px solid white;
    border-bottom: 1px solid white;
    margin: 5px 0px;
}

input {
    padding: 5px;
    border-radius: 5px;
    border: none;
    color: black;
}

input:focus {
    outline: none;
    padding: 10px;
    transition: 300ms;
}

input:not(:focus) {
    padding: 5px;
    transition: 100ms;
}

.form-container {
    display: flex;
    flex-direction: column;
    gap: 1em;
}

.form-btn {
    width: 50%;
    align-self: center;
    cursor: pointer;
    padding: 7px;
    border-radius: 10px;
    color: black;
    font-weight: bold;
    background-color: #15ff00;
    border: none;
}

.form-btn:hover {
    background-color: #15ff0085;
    transform: translateY(3px);
    transition: 400ms;
    box-shadow: 0 2px 2px #15ff00;
}

.attack {
    color: red;
    font-weight: bold;
}

.defence {
    color: blue;
    font-weight: bold;
}

