{%extends "base.html"%}

{%block title%} Sign Up {%endblock%}

{%block styles %}
<link rel="stylesheet" href="{{url_for('static', filename='styles/signup.css')}}">
<link rel="stylesheet" href="{{url_for('static', filename='styles/base.css')}}">
{%endblock%}

{%block content%}
{% include './includes/nav-bar.html' %}
<div>
    <h1>Sign Up</h1>
    <div class="form-container">
        <form method="POST">
            {{signupForm.hidden_tag()}}
            {{signupForm.username(placeholder="Username...", class="input-box")}}
            {{signupForm.email(placeholder="Email...")}}
            {{signupForm.password(placeholder="Password...")}}
            {{signupForm.submit(class="submit-btn")}}
        </form>
    </div>
</div>

{%endblock%}