
<nav>
    <div class="link-container">
        <a href="{{url_for('main.home')}}">Home</a>
        <a href="{{url_for('main.getPokeInfo')}}">Seach Pokemon</a>
        {% if current_user.is_anonymous %}
            <a href="{{url_for('auth.login')}}">Login</a>
            <a href="{{url_for('auth.signup')}}">Sign Up</a>
        {% else %}
            <a href="">Pokedex</a>
            <a href="{{url_for('auth.logout')}}" class="logout">Log Out</a>
        {% endif %}
    </div>
</nav>

{% with messages = get_flashed_messages(with_categories=true) %}
{% if messages %}
    {% for category, message in messages %}
    <div class="alert alert-{{ category }} alert-dismissible fade show" role="alert">
        {{ message }}
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
    {% endfor %}
    
    {% endif %}
{% endwith %}