{%extends "base.html"%}

{%block title%} Poke-Search {%endblock%}
<!-- # pokemon properties to include:
#                 pokemon name
#        from the stats section:
#                  base stat for hp
#                  base stat for defense
#                  base stat for attack
#        from the sprites section:
#                  front_shiny (URL to the image) or any other image you like more 
#        from the abilities section:
#                  At Least One Ability
# and any other properties you might find that interest you. -->
{%block styles%}
<link rel="stylesheet" href="{{url_for('static', filename='styles/pokeSearch.css')}}">
<link rel="stylesheet" href="{{url_for('static', filename='styles/base.css')}}">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
{%endblock%}
{%block content%}
{% include './includes/nav-bar.html' %}
<div class="container">
    <div class="search-container">
        <h2 class="pokedex">Pokedex</h2>
        <form method="POST" class="form-container">
            {{form.hidden_tag()}}
            {{ form.name(size=32, placeholder="Search...") }}
            {{ form.submit(class="form-btn") }}
        </form>
    </div>
        {% if defaultInfo %}
        <div class="card-container">
            <a href="{{url_for('getPokeInfoById', id=defaultInfo['id'], direction='previous')}}"><i class="fa-solid fa-arrow-left arrow"></i></a>
            <div class="card">
                <div class="top">
                    <h3>{{defaultInfo['name']|capitalize}}</h3>
                    <p>{{defaultInfo['stats'][0]['base_stat']}} HP</p>
                </div>
                <div class="img-container">
                    <img src="{{defaultInfo['sprites']['front_shiny']}}" alt="Poke_Image" height="100">
                </div>
                <div class="stats">
                    <p>{{defaultInfo['stats'][1]['base_stat']}} Att</p>
                    <p>{{defaultInfo['stats'][2]['base_stat']}} Def</p>
                </div>
                <div class="ability">
                    <span class="ability-name"><strong>{{defaultInfo['abilities'][0]['ability']['name']|capitalize}}:</strong> {{abilityInfo['effect_entries'][1]['effect']}}</span>
                </div>
            </div>
            <a href="{{url_for('getPokeInfoById', id=defaultInfo['id'], direction='next')}}"><i class="fa-solid fa-arrow-right arrow"></i></a>
            <a href=""></a>
        </div>
        {%endif%}
</div>


{%endblock%}